  <div class="form-group col-md-12">
    <%= form.label :pokomen_id %>
    <%= select_tag '', options_for_select(@pokemon_select), :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.submit :class=>"btn btn-primary" %>
  </div>
<% end %>