<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <h6>© 2018 Copyright by Yuli Amelia</h6>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->